{% extends "common/layout_main.html" %}
{% block content %}
<!--<div class="row  border-bottom">-->
<!--    <div class="col-lg-12">-->
<!--        <div class="tab_title">-->
<!--            <ul class="nav nav-pills">-->
<!--                <li class="current">-->
<!--                    <a href="{{ buildUrl('/goods/index') }}">美食列表</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="{{ buildUrl('/goods/cat') }}">分类列表</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="row mg-t20 wrap_food_set" style="">
    <div class="col-lg-12" style="">
         {% if info %}
        <h2 class="text-center">编辑货物</h2>
        {% else %}
        <h2 class="text-center">添加货物</h2>
        {% endif %}
        <div class="form-horizontal m-t" style="">

            <div class="form-group">
                <input type="hidden" class="form-control" name="id" value="{{ info.id }}">
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">条形码:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="请输入条形码" name="bar_code" value="{{ info.bar_code }}">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">名称:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="请输入名称" name="name" value="{{ info.name }}">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">价格:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="请输入售价" name="price" value="{{ info.price }}">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-lg-2 control-label">图标:</label>
                <div class="col-lg-10">
                    <form class="upload_pic_wrap" target="upload_file" enctype="multipart/form-data" method="POST" action="{{ buildUrl('/upload/pic') }}">
                        <div class="upload_wrap pull-left">
                            <i class="fa fa-upload fa-2x"></i>
                            <input type="file" name="icon" accept="image/png, image/jpeg, image/jpg,image/gif">
                        </div>
                          {% if info and info.icon %}
                        <span class="pic-each">
                            <img src="{{buildImageUrl(info.icon ) }}"/>
                            <span class="fa fa-times-circle del del_image" data="{{ info.icon }}"></span>
                        </span>
                        {% endif %}
                    </form>
<!--<style media="screen">-->
<!--    .pic{-->
<!--        width:100px;-->
<!--        height:100px;-->
<!--        border-radius:50% ;-->
<!--        margin:20px auto;-->
<!--        cursor: pointer;-->
<!--        background-image: url(./nike3.jpeg);-->
<!--        background-size: cover;-->
<!--    }-->

<!--</style>-->
<!--                    <div>-->
<!--    <img class="pic" src="" />-->
<!--    <input class="upload" name="file" accept="image/*" type="file" style="display: none"/>-->
<!--</div>-->

<!--<script>-->
<!--    $(function() {-->
<!--        $(".pic").click(function () {-->
<!--            $(this).parent().find(".upload").click(); //隐藏了input:file样式后，点击头像就可以本地上传-->
<!--            $(this).parent().find(".upload").on("change",function(){-->
<!--                var objUrl = getObjectURL(this.files[0]) ; //获取图片的路径，该路径不是图片在本地的路径-->
<!--                if (objUrl) {-->
<!--                    $(this).parent().find(".pic").attr("src", objUrl) ; //将图片路径存入src中，显示出图片-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->

<!--    function getObjectURL(file) {-->
<!--        var url = null ;-->
<!--        if (window.createObjectURL!=undefined) { // basic-->
<!--            url = window.createObjectURL(file) ;-->
<!--        } else if (window.URL!=undefined) { // mozilla(firefox)-->
<!--            url = window.URL.createObjectURL(file) ;-->
<!--        } else if (window.webkitURL!=undefined) { // webkit or chrome-->
<!--            url = window.webkitURL.createObjectURL(file) ;-->
<!--        }-->
<!--        return url ;-->
<!--    }-->
<!--</script>-->
                </div>
            </div>
            <div class="hr-line-dashed"></div>
<!--            <div class="form-group" style="">-->
<!--                <label class="col-lg-2 control-label">描述:</label>-->
<!--                <div class="col-lg-10">-->
<!--                    <textarea  id="editor"  name="summary" style="height: 300px;"></textarea>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="hr-line-dashed"></div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-lg-2 control-label">库存:</label>-->
<!--                <div class="col-lg-2">-->
<!--                    <input type="text" name="stock" class="form-control" value="1">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="hr-line-dashed"></div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-lg-2 control-label">标签:</label>-->
<!--                <div class="col-lg-10">-->
<!--                    <input type="text" class="form-control" name="tags" value="">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="hr-line-dashed"></div>-->
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-2">
                    <input type="hidden" name="id" value="0">
                    <button class="btn btn-w-m btn-outline btn-primary save">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe name="upload_file" class="hide"></iframe>
{% endblock %}
{%  block css %}
<link href="{{ buildStaticUrl( '/plugins/select2/select2.min.css' ) }}" rel="stylesheet">
<link href="{{ buildStaticUrl( '/plugins/tagsinput/jquery.tagsinput.min.css' ) }}" rel="stylesheet">
{% endblock %}
{% block js %}


<script src="{{ buildStaticUrl( '/plugins/select2/select2.pinyin.js' ) }}"></script>
<script src="{{ buildStaticUrl( '/plugins/select2/zh-CN.js' ) }}"></script>
<script src="{{ buildStaticUrl( '/plugins/select2/pinyin.core.js' ) }}"></script>

<script src="{{ buildStaticUrl( '/plugins/tagsinput/jquery.tagsinput.min.js' ) }}"></script>


<script src="{{ buildStaticUrl( '/js/goods/set.js' ) }}"></script>
{% endblock %}