{% extends "common/layout_main.html" %}
{%block css %}
<link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Tajawal:400,500,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{{ buildStaticUrl('/css/invoice.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% block js %}
    <script src="{{ buildStaticUrl('/js/invoices/index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    {% endblock %}
<!--<div class="nav-ul">-->
<!--    <li class="ph1"><a href="#"><img src="{{ buildStaticUrl('/img/logo.png') }}" alt=""></a></li>-->
<!--    <li class="ph2"><a href="#"><img src="{{ buildStaticUrl('/img/nav-photo.png') }}" alt=""></a></li>-->
<!--    <li class="ph3"><a href="#"><img src="{{ buildStaticUrl('/img/nav-ton.png') }}" alt=""></a></li>-->
<!--</div>-->
<div class="m-width-m">
    <div class="m-width">
        <div class="cointainer">
            <div class="over">
                <H2 class="dash-o ">收支统计</H2>
            </div>
            <div class="row line-chart">
                <div class="col-12 col-sm-8 line-chart1">
                    <div class="chart-h">
                        <h1 class="a1">$65005</h1>
                        <h1 class="a2">REVENUE</h1>
                        <h1 class="a3">08/24/2019</h1>
                    </div>
                    <div class="charts">
                        <canvas id="myChart" class="canvas-c" width="600" height="120%"></canvas>
                    </div>
                </div>
                <div class="col-12 col-sm-4 line-chart2">
                    <div class="up-small">
                        <div class="chart-h">
                            <h1 class="a1">134</h1>
                            <h1 class="a2">DELIVERIES</h1>
                            <h1 class="a3">08/24/2019</h1>
                        </div>
                        <div class="charts">
                            <canvas id="myChart-2" class="canvas-c" width="600" height="240%"></canvas>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row under-line">
                <div class="col-sm-8 left-div">
                    <form class="wrap_search">
                        <div class="head">
                            <div class="left-head-1">
                                <h1 class="dash-o">发货单列表</h1>
                            </div>

                            <div class="left-head-2">
                                {% if mix_kw %}
                                <input id="searchBtn" class="form-control" type="text" name="mix_kw"
                                       placeholder="{{mix_kw}}">
                                {%else%}
                                <input id="searchBtn" class="form-control" type="text" name="mix_kw"
                                       placeholder="Search here...">
                                {%endif%}

                            </div>
                        </div>

                    </form>
                    <div class="left-body">
                        <table>
                            <tr>
                                <th class="tb-h">二维码</th>
                                <th class="tb-h">价格</th>
                                <th class="tb-h">备注信息</th>
                                <th class="tb-h">日期</th>
                                <th class="tb-h">状态</th>
                            </tr>
                                {% if list %}
                                {% for item in list %}

                                <tr {% if loop.index %2==0 %} class="table-tr" {% endif %}>
                                    <td>
                                        {% if item.file_path %}
                                        <img width="30px" height="30px" src="{{buildImageUrl(item.file_path)}}">
                                        {% endif %}
                                        &nbsp;{{ item.id }}
                                    </td>
                                    <td>{{ item.amount }}</td>
                                    <td>{{ item.notes }}</td>
                                    <td>{{ item.create_time }}</td>
                                    <td>

                                        {% if item.status==0 %}
                                        <button class="btn btn-success" data="{{ item.id  }}">派送</button>
                                        {% else %}
                                        {% if item.status==1 %}
                                        <button class="btn btn-outline-warning" data="{{ item.id  }}" disabled>派送中</button>
                                        {% else %}
                                        <button class="btn btn btn-outline-success" data="{{ item.id  }}" disabled>已签收</button>
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="6">暂无数据~~</td>
                                </tr>
                                {% endif %}
                        </table>
                        {% include 'common/pagenation.html' %}
                    </div>
                </div>
                <div class="col-sm-4 right-div">
                    <div class="down-small">
                        <div class="right-invoice">
                            <div class="inv">
                                <H2 class="dash-o">上传发货单 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-success">上传(Add)</button>
                                </H2>

                            </div>
                            <div class="invoice-form">
                                  <div class="in-pic">
                                     <form class="upload_pic_wrap" target="upload_file" enctype="multipart/form-data" method="POST" action="{{ buildUrl('/upload/pdf') }}">
                                         <input type="file"  id="tf"  style="display: none" name="pdf" accept="application/pdf">
                                         <div id="upd_img">
                                             <img src="{{ buildStaticUrl('/img/in.png') }}" onclick="tf.click();" />
                                         </div>
                                    </form>
                                </div>
                            </div>
                            <div class="amount">
                                <input class="form-control" type="text" name="amount" placeholder="Amount:">
                            </div>
                            <div class="note">
                                <textarea rows="3" cols="20" name="notes" placeholder="Notes:"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe name="upload_file" style="display:none"></iframe>
 <script>
          var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July',  'August', 'September', 'October'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: '#F0EAFF',
                    borderColor: '#7033FF',
                    data: [8, 7, 10, 5, 9, 5, 15, 10, 13,12],
                    fill: true,
                }]
            },

            // Configuration options go here
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            display: false
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero: true,
                            display: false
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                },
                legend: {
                    display: false
                },
                animation: {
                    duration: 2500
                },
                layout: {
                    padding: {
                    left: -9.3,
                    right: 0,
                    top: 0,
                    bottom: -9
                    }
                }
            }
        });
    </script>
{% endblock %}